<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>DailyReflection.xcodeproj</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Configuration /ThemeAssets.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Configuration /ThemeConfiguration.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Configuration </string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Managers/AudioManager.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Managers/AuthenticationManager.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Managers/NotificaManager.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Managers/ThemeManager.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Managers/TimerManager.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Managers/WhiteNoiseManager.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Managers</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Models/AppTheme.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Models/DailyReflection.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Models/Task.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Models/TimerAttributes.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Models</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Sound/caffe.wav</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Sound/fire.wav</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Sound/forest.flac</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Sound/ocean.wav</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Sound/rain.mp3</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>WidgetExtension/DailyReflection/Sound/wind.wav</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Sound</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Calendar/CalendarView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Calendar/WeekCalendarView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Calendar</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/DDL/DDLView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>DDL</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Planning/AddTaskView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Planning/EditTaskView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Planning/PlanningView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Planning/TodayView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Planning</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Profile/ProfileView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Profile/SubscriptionView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Profile/ThemeStoreView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Profile</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Reflection/ReflectionView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Reflection</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/Timer/TimerView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Timer</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>WidgetExtension/DailyReflection/Views/WhiteNoise/WhiteNoiseView.swift</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>WhiteNoise</string>
									<key>type</key>
									<string>group</string>
								</dict>
							</array>
							<key>title</key>
							<string>Views</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>WidgetExtension/DailyReflection/Assets.xcassets</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>WidgetExtension/DailyReflection/ContentView.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>WidgetExtension/DailyReflection/DailyReflectionApp.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>WidgetExtension/DailyReflection/Keyboardhelper.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>WidgetExtension/DailyReflection/WhiteNoiseType.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>DailyReflection</string>
					<key>type</key>
					<string>group</string>
				</dict>
			</array>
			<key>title</key>
			<string>WidgetExtension</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
